body{
    background: #CCCCCC;
}

#banner{
    /*Ancho del elemento con propiedad width:*/
    width: 100%;
}

h1{
    text-align: center;
    
    /*Altura del elemento con propiedad height: */
    /*height: 150px;
    border: 10px solid#000000;
    /*Margen interno del elemento con propiedad padding: */
    /*padding: 20px;
    /*Margen externo del elemento con propiedad margin: */
    /*margin: 40px;
    */
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.items{
    font-style: italic;
}