body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #BBBBBB;
    /*Agrega 20px arriba y abajo. Cero en izquierda y derecha*/
    padding: 20px 0;
}

.caja{
    /*Considerando que las pantallas son de 1080px, con 940px se tiene 70% aprox*/
    width: 940px;
    position: relative;
    /*Arriba y abajo 0, y en automatico se ajusta izquierda y derecha. Es decir se centra con base al 70%*/
    margin: 0 auto;
}

nav{
    /*Position absolute tenemos control de mover libremente el bloque. Despues de Position sigue definir la posición*/
    position: absolute;
    /*Se deja 110px, porque revisandoe la imagen la altura es de 250, se deja aprox 110 para que el contenido quede en la mitad*/
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    /*Cabmiar texto a mayusculas*/
    text-transform: uppercase;
    /*Para que no resalte como hipervinculo*/
    color: #000000;    
    font-weight: bold;
    font-size: 22px;
    /*Para quitarle el subrayado de hipervinculo*/
    text-decoration: none;
}

/*Evento para movimiento del mouse*/
nav a:hover{
    /*Al pasar el mouse encima de los link de navegacion cambia de color*/
    color: #c78c19;
    /*Tambien subrayamos el texto al pasar el mouse*/
    text-decoration: underline;
}

.productos{
    /*Considerando que las pantallas son de 1080px, con 940px se tiene 70% aprox*/
    width: 940px;
    /*Arriba y abajo 0, y en automatico se ajusta izquierda y derecha. Es decir se centra con base al 70%*/
    margin: 0 auto;
    /*Para darle altura/separacion entre el Top y el titutlo h2*/
    padding: 50px;
}

.productos li{
    /*con online-block Se puede ajustar el tamaño de su contenido/bloque*/
    display: inline-block;
    text-align: center;
    /*Agregamos background solo como ayuda para visualizar el bloque y las separaciones*/
    /*background: #CCCCCC;*/
    /*30% de espacio entre cada bloque <li>*/
    /*Es decir 90% total : 30% * 3(bloques/item/lista li) */
    width: 30%;
    vertical-align: top;
    /*Para agregar una separación de 1.5% entre cada lado de cada bloque li. Es decir 6 espacios * 1.5% = 9%*/
    /*Y 3 bloques cada uno con 30% = 90*/
    /*Por lo tanto: 
    /*9% + 90% = */
    /*= 99% ya asigado */
    margin: 0 1.5%;
    /*Añade top y down 30px y 20px a los laterales.*/
    /*Si se agrega el 20px lateral, sobrepasamos el 99% de los 940px. Por lo tanto se usa box-sizing*/
    padding: 30px 20px;
    /*Con esto evitamos superar externamente los 20px y se restan internamente del box*/
    box-sizing: border-box;

    /*Comineza Border, rellenado del box, entre el paading y el margin. Para mejor visualización revisar ctrl + shift + I .productos li*/        
    /*border-width: 2px;
    border-style: solid;
    border-color: #000000;
    /*Todo sobre los bordes se puede simplificar:*/
    border: 2px solid #000000;

    /*Para agregar un redondeo en el Border:*/
    /*Se puede asignar individualmente cada valor de cada esquina:*/
    /*border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    /*Para simplififcar lo anterior: comienza de superior derecha y en sentido manecillas del reloj*/
    /*border-radius: 10px 25px 40px 50px;

    /*Para aplicar el mismo redondeo a todas las esquinas*/
    border-radius: 10px;
}

/*Evento para movimiento del mouse*/
.productos li:hover{
    /*cambiar el color de los 3 borders al pasar el mouse encima de ellos*/
    border-color: #c78c19;
    /*Al declarar el siguiente comando, no funiona, ya que toma como prioridad el delcarado en .productos h2 con font-size: 30px*/
    /*Para corregirlo y que la siguiente declaracion funcione se crea .productos li:hover h2 */
    /*font-size: 33px;*/
}

/*Cuando pasa mouse sobre h2 hace el efecto para aumentar a 33px todo el texto interno*/
.productos li:hover h2{
    font-size: 33px;    
}

/*Evento para capturar el click*/
/*Al hacer click en uno de los 3 borders cambiara a color verde*/
.productos li:active{
    border-color: #088C19;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    /*Para agregar espacio entre el top y la imagen*/
    padding: 40px;
}

.copyright{
    color: #FFFFFF;
    /*Por default 16px*/
    font-size: 13px;
    /*Para darle espacio de 20px en todas direcciones, en este caso para bajar o separar el texto hacia abajo*/
    margin: 20px;
}

/*
Pagina Contacto
------------------------------------------------------------------------------------------------------------
*/

/*Afectó este selector debido al cambio en Home/index
Por lo tanto se elimina, el contenido de width y margin se mueve a .diferenciales{}*/
/*
main{
    /*Considerando que las pantallas son de 1080px, con 940px se tiene 70% aprox*/
    /*width: 940px;
    /*Arriba y abajo 0, y en automatico se ajusta izquierda y derecha. Es decir se centra con base al 70%*/
    /*margin: 0 auto;
}*/


form{
    /*Agregamos separación arriba y abajo de 40px y 0 en los laterales*/
    margin: 40px 0;
}

/*Para no repetir se agrega form p*/
/*Como se actualizao a legend, se sustituye la etiqueta p con legend*/
form label, form legend{
    /*Para hacer un bloque en toda la linea, es decir, un bloque por linea*/
    display: block;
    font-size: 20px;
    /*Para agregar separación abajo*/
    margin: 0 0 10px;
}

/* form input, form textarea{*/
.input-padron{
    /*Para hacer un bloque en toda la linea, es decir, un bloque por linea*/
    display: block;
    /*Para agregar separación abajo*/
    margin: 0 0 20px;
    /*Para aumentar el tamaño del input entre el contenido y el borde*/
    padding: 10px 25px;
    /*Para alargar el input*/
    width: 50%;
}

.checkbox{
    /*Para agregar separación arriba y abajo de 20px*/
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    /*quitar borde qie viene por default*/
    border:none;
    border-radius: 5px;
    /*agrega una transition para cambiar el background*/
    /*transition: 0.3s background;
    /*Si se tienen varios eventos se pone all para que ejecute todos, en este caso .enviar:hover tiene background y transform*/
    transition: 0.3s all;
    cursor: pointer;    
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.20);
    
}

/*estilo para la tabla*/
table{
    margin: 40px 40px;
}

thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

/*Para dibujar lineas de la tabla*/
th, td{
    border: 1px solid #000000;
    /*espacio interno*/
    padding: 8px 15px;
}

/*
Pagina Home/index
------------------------------------------------------------------------------------------------------------
*/

.banner{
    width: 100%;
}

/*Seleccion de elementos*/
/*Selectores avanzados en CSS*/
/*Ejemplo de seleccionar solamente el parrafo hijo y no todos*/
/*Selector >, para acceder a los hijos de determinado elemento*/
/*Accde a todos los p dentro de main*//*
main > p{
    background: red;
}

/*el primer parrafo despues de img */
/*Selector +, accede al primer hermanno de determinado elemento*/
/*Accede el primer p despues de una img*/
/*img + p{
    background: yellow;
}

/*a todos los parrafos que vienen despues de img */
/*Selector ~, accede a todos los hermanos de determinado elemento*/
/*Accede a todos los p despues de una img*/
/*img ~ p{
    background: green;
}

/*para afectar a todos los demas menos al segundo parrafo*/
/*Selector not, accede a los elementos excepto algunos*/
/*accede a todos los p dentro de main excepto p que tiene id mision*/
/*main p:not(#mision){
    background: orange;
}
*/
.principal{
    /*Para separar el espacio entre el banner y el texto titulo*/
    padding: 3em 0;
    background: #FEFEFE;
    /*Considerando que las pantallas son de 1080px, con 940px se tiene 70% aprox*/
    width: 940px;
    /*Arriba y abajo 0, y en automatico se ajusta izquierda y derecha. Es decir se centra con base al 70%*/
    margin: 0 auto;
}

.titulo-principal{
    text-align: center;
    /* 2 veces el tamaño por defecto*/
    font-size: 2em;
    margin: 0 0 1em;
    /*visualmente no altera, la pagina solo esta imagen aplica en este bloque, no aplique en los titutlos*/
    clear: left;
}

/*Ejemplos de Pseudoclase o Pseudoelementos*/
/*Pseudoclase*/
.titulo-principal:first-letter{
    font-weight: bold;
}

/*Pseudoclase*/
p:first-line{
    font-style: italic;
}

/*Pseudoclase o Pseudoelementos*/
.titulo-principal:before{
    content: "[";
}

/*Pseudoclase o Pseudoelementos*/
.titulo-principal:after{
    content: "]";
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    /*propiedad y posicionamiento. Hace como una copia de la imagen y deja una sombra para que la sombra siga respetando el bloque*/
    /*Sirve para que el elemento se destaque en la pantalla, 
    la superficie del elemento continúa siendo utilizada 
    y los otros elementos de texto o elementos en líneas se posicionan alrededor de él*/
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    /*espacio entre el mapa y el titulo diferenciales*/
    padding: 3em 0;
    /*Hace el degradado*/
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;    
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
    /*Como comentario para corregir errores
    /*Considerando que las pantallas son de 1080px, con 940px se tiene 70% aprox*/
    /*width: 940px;
    /*Arriba y abajo 0, y en automatico se ajusta izquierda y derecha. Es decir se centra con base al 70%*/
    /*margin: 0 auto;
    /*fin comentarios*/
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    /*la imagen será 40% del 640px*/
    width: 40%;
    /*Como usamos inline-block. En HTML se tiene que ser una misma linea </ul><img para poder mover la imagen a la derecha de diferenciales*/
    display: inline-block;
    /*Para colocar la lista al tope*/
    vertical-align: top;
}

.items{
    /*Para hacer separación entre lineas de texto*/
    line-height: 1.5;
}

/*Pseudoelemento o Pseudoclase*/
/*Se agrega una estrella en unicode antes de cada item de la lista*/
.items:before{
    content: "★";
    /*En unicode la estrella*/
    /*content: U+066D;*/
}

/*Pseudoclases. Al primer elemento de la lista haz lo indicado*/
.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
}

.video{
    width: 560px;
    margin: 1em auto;
}

/*
Jerarquias
con selectores
etiqueta    = 1
class       = 10
ID          = 100
inline      = 1000

Un marcador de etiqueta = 1
Por lo tanto es el de menor jerarquia
p{    
    color: red;
}

dos marcadores de etiquetas form y p = 2
tiene mayor jerarquia que un marcador de una etiqueta
form p{
    color: blue;
}

class tiene aun mayor jerarquia que un marcador con dos etiquetas = 10
.test{
    color: yellow;
}

selector etiqueta mas clase = 11
etiqueta mas class tiene mayo jerarquia que solamente class
p.test{
    color: orange;
}

selector ID = 100
mayor jerarquia que class mas un selector de etiqueta
#test{
    color: pink;
}

La mayor jerarquia es inline = 1000, que viene directo desde html, considera lo de css inferior
style="color: purple"
*/